<h2>Scripts</h2>

<form action="script/addScript" method="post">
  <textarea name="script" rows="4" cols="50" placeholder="Ingrese un script"></textarea><br>
  <button type="submit">Agregar Script</button>
</form>

{{!-- <ul>
    {{#each scripts}}
        <li>{{this}}</li>
    {{/each}}

</ul> --}}