<!-- views/index.hbs -->
<section class="jumbotron bg-primary">
    <div class="jumbotron_body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>API de carga masiva</h1>
                    <p>API de carga masiva de siniestros</p>
                </div>
            </div>
        </div>
    </div>
</section>

Documentación


