<!-- views/index.hbs -->
<section class="jumbotron bg-primary">
    <div class="jumbotron_body">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                    <h1>API de carga masiva</h1>
                    <p>API de carga masiva de siniestros</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <hr>
    <div class="container">
        <div class="row numbers">
            <div class="col-md-4 text-center">
                <div class="h2 text-info">{{totalSiniestros}}</div>
                <p class="lead">Total de Siniestros</p>
                <p class="text-muted">Total de siniestros importados</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="h2 text-success">{{reportesExitosos}}</div>
                    <p class="lead">Siniestros exitosos</p>
                    <p class="text-muted">Siniestros que superaron la primer validación de la api</p>
            </div>
            <div class="col-md-4 text-center">
                <div class="h2 text-danger">{{reportesFallidos}}</div>
                    <p class="lead">Siniestros con errores</p>
                    <p class="text-muted">Siniestros que presentan algún error en su información/estructura</p>
            </div>
        </div>
    </div>
</section>

